In [128]:
# coding: utf-8
import pandas as pd
import numpy as np
import math
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [164]:
# read the csv file
df = pd.read_csv("movie_db.csv", sep='\t',low_memory=False)

In [165]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [166]:
df=df.fillna('')

In [167]:
df['genres']=df['genres'].str.replace('[\[,\],\']', ' ')
df['plot_keywords']=df['plot_keywords'].str.replace('[\[,\],\']', ' ')
df['movie_title']=df['movie_title'].apply(str.strip)

In [168]:
def create_metadata(x):
    return x['plot_keywords']+ ' ' + x['genres'] + ' ' + x['actor_1_name']+ ' ' + x['actor_2_name']+ ' ' + x['actor_3_name']+ ' ' + x['director_name'] 
            
df['metadata']=df.apply(create_metadata,axis=1)

In [169]:
df.head(5).style

In [170]:
count = CountVectorizer()
count_matrix = count.fit_transform(df['metadata'])
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [171]:
df = df.reset_index()
indices = pd.Series(df.index, index=df['movie_title'])

In [174]:
title='John Carter'
print(indices.index)

Index(['Avatar', 'Pirates of the Caribbean: At World's End', 'Spectre',
       'The Dark Knight Rises', 'Star Wars: Episode VII - The Force Awakens',
       'John Carter', 'Spider-Man 3', 'Tangled', 'Avengers: Age of Ultron',
       'Harry Potter and the Half-Blood Prince',
       ...
       'Primer', 'Cavite', 'El Mariachi', 'The Mongol King', 'Newlyweds',
       'Signed Sealed Delivered', 'The Following', 'A Plague So Pleasant',
       'Shanghai Calling', 'My Date with Drew'],
      dtype='object', name='movie_title', length=5043)

In [175]:
print(indices[title])

5

In [80]:
def get_recommendations(title):
    
    index=indices[title]
    sim_scores=list(enumerate(cosine_sim[index]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:6]
    sim_scores = sorted(sim_scores, key=lambda x: df['title_year'].iloc(x[0]), reverse=True)
    movie_indices = [i[0] for i in sim_scores]
    return metadata['title'].iloc[movie_indices]

In [94]:
indices['Avatar']

KeyError: 'Avatar'